body {
    background-color: black;
}

section {
    background-color: #212f3d;
    border-radius: 30px;
    margin: 20px 300px 10px 300px;
    padding: 20px 30px 2px 30px;
    transition: margin 0.5s ease, padding 0.5s ease;
    display: flex;
}

@media (max-width: 768px) {
    section {
        margin: 10px 20px;
        padding: 10px 15px;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.hidden-down {
    transform: translateY(-100%);
}

.hidden-up {
    transform: translateY(100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


h2 {
    margin: auto;
    display: flex;
    font-size: 70px;
    color: #800000;
    margin-bottom: 10px;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: auto;
}

span {
    color: white;
}

.space {
    margin-left: 20px;
}

.contact-form form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.contact-form form .input-box input,
.contact-form form textarea {
    width: 100%;
    padding: 1em;
    font-size: 18px;
    color: black;
    background-color: rgb(224, 217, 217);
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize: none;

}

button {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: white;
    padding: 20px 30px;
    border-radius: 50px;
    transition: all 0.3s;
}

button:hover {
    color: red;
    transform: scale(1.15);
}

a[href="Website.html"] {
    display: inline-flex;
    background-color: none;
    color: #6995c2;
    border: 2px solid;
    text-decoration: none;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

a[href="Website.html"]:hover {
    border-color: hsl(192, 19%, 43%);
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
}